.textBoxHolder {
    height: 50px;
    border-radius: 8px;
    border: 1px solid $color-grey;

    input {
        font-size: 16px;
    }

    &.regular {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-width: fit-content;

        .textBox-regular {
            height: 50px !important;
            width: 380px;
            border-radius: 8px;
            padding: 10px;
            border: 0.4px $color-grey;
        }

        .textBox-regular:focus {
            outline: none;
            border: 1px solid $color-primary !important;
            box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
        }

    }

    &.domain {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: fit-content;

        .textBoxDomain {
            padding: 10px;
            background-color: $color-light-grey;
            height: 30px;
            max-width: 120px;
            align-self: center;
            text-align: center;
            border-radius: 8px 0px 0px 8px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .textBox-domain {
            padding: 10px;
            width: 238px;
            height: -webkit-fill-available;
            border-width: 0px 0px 0px 1px;
            border-radius: 0px 8px 8px 0px;
            background-color: $color-white;
            border-left-color: $color-grey;
        }

        .textBox-domain:focus {
            outline: none;
            border: 1px solid $color-primary !important;
            box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
        }
    }
}


@media screen and (max-width: 600px) {
    .textBoxHolder {

        input {
            font-size: 16px;
        }

        &.regular {

            .textBox-regular {
                width: 299px;
            }

        }

        &.domain {

            .textBoxDomain {
                width: 120px;
            }

            .textBox-domain {
                width: 158px;
            }
        }
    }
}