.logo-cointainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    max-height: 40px;

    .logo-img {
        width: 40px;
    }

    .logo-name {
        font-weight: 600;
        font-size: 24px;
        letter-spacing: -0.082px;
    }
}