.cards-container {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    .cards-container {
        max-width: 322px;
    }
}