.inputbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .inputbox-holder {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
    }
}