.button-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;

    .main-button {
        width: 400px;
        height: 50px;
        background-color: $color-primary;
        color: $color-text-white;
        border-radius: 8px;
        border: 0px;
        font-size: 14px;
        word-spacing: 1.5px;
        align-self: center;
        font-size: 16px;
        font-weight: normal;
    }

    .main-button:hover {
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    }
}