.chipHolder {
    border: 1px solid $color-black;
    max-width: 184px;
    padding: 20px;
    border-radius: 8px;

    .chip {

        &.image {
            width: 50px;
        }

        &.text {
            max-width: 200px;

            &.headline {
                margin-top: 20px;
                font-size: 20px;
                font-weight: 500;
            }

            &.description {
                margin-top: 14px;
                font-size: 16px;
                font-weight: 300;
            }
        }
    }
}